*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}
.nav-logo{
    width: 100px;
    height: 50px;
}
.logo{
 background-image: url(amazon\ logo.png);
 height: 50px;
 width: 100%;
 background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}